.roadmap-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 5%;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.roadmap-modal-content {
    background: white;
    padding: 20px;
    max-width: 800px;
    width: 90%;
    border-radius: 8px;
    max-height: 90vh;
    overflow-y: auto;
    position: relative;
}

.roadmap-close-button {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 18px;
    background: none;
    border: none;
    cursor: pointer;
}